:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* COLORS */
  --blue-100: #2f2e41;
  --green-100: #00bfa6;
  --gray-100: #c2c2c2;
  --white: #ffffff;

  /* 
      FONT SIZE NAME IN PX, VALUE IN REM
      16 * 0.625 = 10px
      */
  font-size: 62.5%;

  --font-36: 3.6rem;
  --font-24: 2.4rem;
  --font-14: 1.4rem;
  --font-16: 1.6rem;
}

body {
  color: var(--white);
  background-color: var(--blue-100);
  font-size: 1.6rem;
  margin: 0;

  /* padding: 1.6rem; */

  position: relative;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  color: var(--white);
}

main {
  /* font-family: "JetBrains Mono", monospace; */
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

footer{
    height: 2.5rem;
    position: absolute;
    bottom: 0;
    /* width: 100%; */
}

@media (max-width: 500px) {
  body {
    /* padding: 4rem; */
    line-height: 2.5rem;
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 2.5rem;
  }
  header img {
    width: 50%;
  }
  header nav {
    display: flex;
    gap: 4rem;
  }
  header img, header nav{
    margin-bottom: 2.5rem;
  }
  header nav a {
    text-decoration: none;
    font-size: var(--font-24);
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 2.5rem;
    /* height: 100vh; */
  }
  main section img {
    width: 20rem;
    margin: 2.5rem auto;
  }

  main section h2{
    margin-bottom: 4.5rem;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    width: 100vw;
  }


  .footer_details{
    text-align: center;
  }
}
